[submodule "src/3rdparty/unicode-emoji"]
	path = src/3rdparty/unicode-emoji
	url = ../../samhocevar/unicode-emoji.git
	branch = master
	update = merge

[submodule "src/3rdparty/unicode-translation"]
	path = src/3rdparty/unicode-translation
	url = ../../samhocevar/unicode-translation.git
	branch = master
	update = merge

[submodule "src/3rdparty/xcompose"]
	path = src/3rdparty/xcompose
	url = ../../kragen/xcompose.git

[submodule "wpf-notifyicon"]
	path = src/3rdparty/wpf-notifyicon
	url = ../../hardcodet/wpf-notifyicon.git
	branch = release/2.0.1
	update = merge

[submodule "src/3rdparty/libx11"]
	path = src/3rdparty/libx11
	url = https://gitlab.freedesktop.org/xorg/lib/libx11
	branch = master
	update = merge

[submodule "src/3rdparty/xorgproto"]
	path = src/3rdparty/xorgproto
	url = https://gitlab.freedesktop.org/xorg/proto/xorgproto
	branch = master
	update = merge

[submodule "src/3rdparty/innosetup"]
	path = src/3rdparty/innosetup
	url = ../../jrsoftware/issrc.git
	branch = main
	update = merge

[submodule "src/3rdparty/unicodetools"]
	path = src/3rdparty/unicodetools
	url = https://github.com/unicode-org/unicodetools
	branch = main
	update = merge
[submodule "src/3rdparty/inserticons"]
	path = src/3rdparty/inserticons
	url = https://github.com/dIeGoLi/InsertIcons
