[submodule "src/3rdparty/libx11"]
	path = src/3rdparty/libx11
	url = https://anongit.freedesktop.org/git/xorg/lib/libX11.git
[submodule "src/3rdparty/unicode-emoji"]
	path = src/3rdparty/unicode-emoji
	url = ../unicode-emoji.git
[submodule "src/3rdparty/unicode-translation"]
	path = src/3rdparty/unicode-translation
	url = ../unicode-translation.git
[submodule "src/3rdparty/x11proto"]
	path = src/3rdparty/x11proto
	url = https://anongit.freedesktop.org/git/xorg/proto/x11proto.git
[submodule "src/3rdparty/xcompose"]
	path = src/3rdparty/xcompose
	url = ../fork-xcompose.git
