# Our targets
WinCompose-*.zip
WinCompose-*.exe
obj/
bin/
# Visual Studio cruft
*.suo
*.csproj.user
*.vcxproj.user
*.opensdf
*.opendb
*.sdf
wincompose.VC.db
# Misc
settings.ini
po/*.po~
unicode/cache
