<?xml version="1.0"?>
<!--
   - This file is used at runtime only. It defines how the application
   - should behave. It’s read-only.
  -->
<configuration>
  <startup>
    <!-- Instructs to run on .NET 4.x preferably, and 3.5 or 3.0 otherwise. -->
    <supportedRuntime version="v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
